@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background: #09090b;
  color: #fafafa;
  overflow-x: hidden;
}
